core/src/main/resources/ru/kwanza/jeda/core/springintegration/jeda-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.kwanza-systems.ru/schema/jeda-core"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            targetNamespace="http://www.kwanza-systems.ru/schema/jeda-core"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/tool   http://www.springframework.org/schema/tool/spring-tool.xsd">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:attribute name="registered" xsi:type="xsd:boolean"/>

    <xsd:complexType name="jeda-queue-type">
    </xsd:complexType>


    <xsd:element abstract="true" name="jeda-queue" type="jeda-queue-type">
    </xsd:element>

    <xsd:element name="queue" substitutionGroup="jeda-queue">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-queue-type">
                    <xsd:group ref="beans:beanElements"/>
                    <xsd:attribute name="id" type="xsd:ID"/>
                    <xsd:attributeGroup ref="beans:beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="memory-queue-type">
        <xsd:complexContent>
            <xsd:extension base="jeda-queue-type">
                <xsd:attribute name="maxSize" type="xsd:long"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:simpleType name="object-clone-type">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SERIALIZE"/>
            <xsd:enumeration value="CLONE"/>
            <xsd:enumeration value="NONE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="tx-memory-queue-type">
        <xsd:complexContent>
            <xsd:extension base="jeda-queue-type">
                <xsd:attribute name="maxSize" type="xsd:long"/>
                <xsd:attribute name="cloneType" type="object-clone-type"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="memory-queue" type="memory-queue-type" substitutionGroup="jeda-queue"/>

    <xsd:element name="priority-memory-queue" type="memory-queue-type" substitutionGroup="jeda-queue"/>

    <xsd:element name="tx-memory-queue" type="tx-memory-queue-type" substitutionGroup="jeda-queue"/>

    <xsd:element name="tx-priority-memory-queue" type="tx-memory-queue-type" substitutionGroup="jeda-queue"/>


    <xsd:complexType name="jeda-resource-controller-type">
    </xsd:complexType>


    <xsd:element abstract="true" name="jeda-resource-controller" type="jeda-resource-controller-type">
    </xsd:element>


    <xsd:element name="resource-controller" substitutionGroup="jeda-resource-controller">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-resource-controller-type">
                    <xsd:group ref="beans:beanElements"/>
                    <xsd:attribute name="id" type="xsd:ID"/>
                    <xsd:attributeGroup ref="beans:beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="static-resource-controller"
                 substitutionGroup="jeda-resource-controller">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-resource-controller-type">
                    <xsd:attribute name="threadCount" type="xsd:integer"/>
                    <xsd:attribute name="batchSize" type="xsd:integer"/>
                    <xsd:attribute name="adjustmentCount" type="xsd:integer"/>
                    <xsd:attribute name="adjustmentInterval" type="xsd:integer"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="fixed-batch-size-resource-controller"
                 substitutionGroup="jeda-resource-controller">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-resource-controller-type">
                    <xsd:attribute name="batchSize" type="xsd:integer" use="required"/>
                    <xsd:attribute name="waitForFillingTimeout" type="xsd:long"/>
                    <xsd:attribute name="adjustmentCount" type="xsd:integer"/>
                    <xsd:attribute name="adjustmentInterval" type="xsd:integer"/>
                    <xsd:attribute name="maxThreadCount" type="xsd:integer"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="smart-resource-controller"
                 substitutionGroup="jeda-resource-controller">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-resource-controller-type">
                    <xsd:attribute name="startBatchSize" type="xsd:integer"/>
                    <xsd:attribute name="processingTimeThreshold" type="xsd:long"/>
                    <xsd:attribute name="maxThreadCount" type="xsd:integer"/>
                    <xsd:attribute name="maxBatchSize" type="xsd:integer"/>
                    <xsd:attribute name="maxElementCount" type="xsd:integer"/>
                    <xsd:attribute name="waitForFillingTimeout" type="xsd:long"/>
                    <xsd:attribute name="adjustmentCount" type="xsd:integer"/>
                    <xsd:attribute name="adjustmentInterval" type="xsd:integer"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="jeda-admission-controller-type">
    </xsd:complexType>

    <xsd:element abstract="true" name="jeda-admission-controller" type="jeda-admission-controller-type">
    </xsd:element>

    <xsd:element name="admission-controller" substitutionGroup="jeda-admission-controller">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-admission-controller-type">
                    <xsd:group ref="beans:beanElements"/>
                    <xsd:attribute name="id" type="xsd:ID"/>
                    <xsd:attributeGroup ref="beans:beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="jeda-event-processor-type">
    </xsd:complexType>

    <xsd:element abstract="true" name="jeda-event-processor" type="jeda-event-processor-type">
    </xsd:element>

    <xsd:element name="event-processor" substitutionGroup="jeda-event-processor">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-event-processor-type">
                    <xsd:group ref="beans:beanElements"/>
                    <xsd:attribute name="id" type="xsd:ID"/>
                    <xsd:attributeGroup ref="beans:beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:complexType name="jeda-thread-manager-type">
    </xsd:complexType>

    <xsd:element abstract="true" name="jeda-thread-manager" type="jeda-thread-manager-type">
    </xsd:element>

    <xsd:complexType name="base-thread-manager-type">
        <xsd:complexContent>
            <xsd:extension base="jeda-thread-manager-type">
                <xsd:attribute name="threadNamePrefix" type="xsd:string" use="required"/>
                <xsd:attribute name="idleTimeout" type="xsd:long"/>
                <xsd:attribute name="maxThreadCount" type="xsd:long"/>
                <xsd:attribute name="maxSingleEventAttempt" type="xsd:long"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="stage-thread-manager" substitutionGroup="jeda-thread-manager"
                 type="base-thread-manager-type"/>

    <xsd:complexType name="shared-thread-manager-strategy-type">
    </xsd:complexType>

    <xsd:element abstract="true" name="shared-thread-manager-strategy" type="shared-thread-manager-strategy-type">
    </xsd:element>

    <xsd:element name="share-strategy-by-input-rate" type="shared-thread-manager-strategy-type"
                 substitutionGroup="shared-thread-manager-strategy"/>

    <xsd:element name="share-strategy-by-thread-count" type="shared-thread-manager-strategy-type"
                 substitutionGroup="shared-thread-manager-strategy"/>

    <xsd:element name="share-strategy-by-queue-size" type="shared-thread-manager-strategy-type"
                 substitutionGroup="shared-thread-manager-strategy"/>

    <xsd:element name="share-strategy-by-round-robin" type="shared-thread-manager-strategy-type"
                 substitutionGroup="shared-thread-manager-strategy"/>


    <xsd:element name="share-strategy-by-waiting-time" type="shared-thread-manager-strategy-type"
                 substitutionGroup="shared-thread-manager-strategy"/>

    <xsd:complexType name="shared-thread-manager-strategy-with-time-type">
        <xsd:complexContent>
            <xsd:extension base="shared-thread-manager-strategy-type">
                <xsd:attribute name="maxWaitingTime"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="share-strategy-by-input-rate-and-waiting-time"
                 type="shared-thread-manager-strategy-with-time-type"
                 substitutionGroup="shared-thread-manager-strategy"/>

    <xsd:element name="share-strategy-by-thread-count-and-waiting-time"
                 type="shared-thread-manager-strategy-with-time-type"
                 substitutionGroup="shared-thread-manager-strategy"/>

    <xsd:element name="share-strategy" substitutionGroup="shared-thread-manager-strategy">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="shared-thread-manager-strategy-type">
                    <xsd:group ref="beans:beanElements"/>
                    <xsd:attribute name="id" type="xsd:ID"/>
                    <xsd:attributeGroup ref="beans:beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="shared-thread-manager">
        <xsd:annotation>
            <xsd:appinfo>
                <tool:annotation kind="ref">
                    <tool:exports
                            type="ru.kwanza.jeda.core.threadmanager.shared.SharedThreadManager"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="base-thread-manager-type">
                    <xsd:sequence>
                        <xsd:element ref="shared-thread-manager-strategy" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                    <xsd:attribute name="id" type="xsd:ID" use="required"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="thread-manager" substitutionGroup="jeda-thread-manager">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-thread-manager-type">
                    <xsd:attribute name="ref" type="xsd:string" use="required">
                        <xsd:annotation>
                            <xsd:appinfo>
                                <tool:annotation kind="ref">
                                    <tool:expected-type
                                            type="ru.kwanza.jeda.core.threadmanager.shared.SharedThreadManager"/>
                                </tool:annotation>
                            </xsd:appinfo>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>


    <xsd:element name="stage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="jeda-queue" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="jeda-resource-controller" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="jeda-admission-controller" minOccurs="0" maxOccurs="1"/>
                <xsd:element ref="jeda-event-processor" minOccurs="1" maxOccurs="1"/>
                <xsd:element ref="jeda-thread-manager" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>

            <xsd:attribute name="name" type="xsd:string" use="required"/>
            <xsd:attribute name="transaction" type="xsd:boolean"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="jeda-flow-bus-type">
    </xsd:complexType>


    <xsd:element abstract="true" name="jeda-flow-bus" type="jeda-flow-bus-type">
    </xsd:element>

    <xsd:element name="flow-bus" substitutionGroup="jeda-flow-bus">
        <xsd:annotation>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="ru.kwanza.jeda.api.IFlowBus"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-flow-bus-type">
                    <xsd:group ref="beans:beanElements"/>
                    <xsd:attributeGroup ref="beans:beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="jeda-context-controller-type">
    </xsd:complexType>


    <xsd:element abstract="true" name="jeda-context-controller" type="jeda-context-controller-type">
    </xsd:element>

    <xsd:element name="context-controller" substitutionGroup="jeda-context-controller">
        <xsd:annotation>
            <xsd:appinfo>
                <tool:annotation>
                    <tool:exports type="ru.kwanza.jeda.api.IContextController"/>
                </tool:annotation>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="jeda-context-controller-type">
                    <xsd:group ref="beans:beanElements"/>
                    <xsd:attributeGroup ref="beans:beanAttributes"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

